@import url('abstract.css');

a {
    color: #504cc9;
    text-decoration: none;
}
a:hover {
    color: #000;
}

#sidebar-logo {
    vertical-align: middle;
    margin-right: 15px;
}

#db-header {
    padding-bottom: 0px;
    line-height: 50px;
}

#db-header h1 {
    margin-bottom: 0px;
}

td#db-menu {
    font-size: 0.8em;
    border-bottom: 1px solid silver;
}

td#db-menu ul {
    display: block;
}

td#db-menu li {
    float: right;
    padding-right: 10px;
}

div.tags {
    border-left:  1px solid #e0e0ff;
    padding-left: 15px;
}

dt,
dd {
    line-height: 20px;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 10px;
}

.dl-horizontal {
    *zoom: 1;
}

.dl-horizontal:before,
.dl-horizontal:after {
    display: table;
    line-height: 0;
    content: "";
}

.dl-horizontal:after {
    clear: both;
}

.dl-horizontal dt {
    float: left;
    width: 100px;
    overflow: hidden;
    clear: left;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dl-horizontal dd {
    margin-left: 110px;
}

.param-route {
    margin: 0;
}

.param-route dt {
    margin: 0;
    text-align: right;
}
